@charset "UTF-8";

.box{
  width: 300px;
  height: 300px;
  background: #fa0;
  margin: 20px 10px 0;
  animation: stretch 3s;

}

@keyframes stretch {
  0%{
    width: 300px;
  }
  100%{
    width: 600px;
  }
}

.inner{
  width: 1200px;
  margin: 0 auto;
  background: #ddd;
  height: 500px;
  position: relative;
}

.news-btn{
  position: absolute;
  top: 20px;
  right: 0;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: rgba(255,255,0, .8);
  animation:flash 1s ease-in-out infinite alternate;
}

@keyframes flash {
  0%{
    background-color: rgba(255,255,0, 0);
  }

  10%{
    background-color: rgba(255,255,0, 0);
  }

  50%{
    background-color: rgba(255,255,0, .8);
  }

  90%{
    background-color: rgba(255,255,0, 0);
  }

  100%{
    background-color: rgba(255,255,0, 0);
  }
}

.inner2{
  width: 1200px;
  margin: 0 auto;
}

.cf::after{
  content:'';
  display: block;
  clear: both;
}
.gallery{
  float:left;
  width: 30%;
}

.gallery:nth-child(3n-1){
  margin: 0 5%;
}

.image img{
  display: none;
  /* width: 100%; */
}

.gallery:first-child .image{
  background-image: url('img/ga1.jpg');
}

.gallery:nth-child(2) .image{
  background-image: url('img/ga2.jpg');
}

.gallery:nth-child(3) .image{
  background-image: url('img/ga3.jpg');
}

.gallery:nth-child(4) .image{
  background-image: url('img/ga4.jpg');
}

.gallery:nth-child(5) .image{
  background-image: url('img/ga5.jpg');
}

.gallery:nth-child(6) .image{
  background-image: url('img/ga6.jpg');
}

.gallery .image{
  height: 270px;
  background: no-repeat center center / cover;
}
